<!DOCTYPE html>
<html>
<head><title>Forgot password</title></head>
<body>
  <h2>Forgot password</h2>
  <input id="email" placeholder="Enter your email" /><br><br>
  <button onclick="send()">send</button>
  <p id="forgot" style="color:black">Go back to<a href='/login/'>login</a></p>
  <p id="error" style="color:red"></p>
  <p id="notice" style="color:blue"></p>
  <script>
    // If already logged in, skip to dashboard
    if (localStorage.getItem('access')) window.location = '/dashboard/';

    async function send() {
      const email = document.getElementById('email').value;

      const res = await fetch('/auth/forgot-password/', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ email})
      });

      const data = await res.json();

      if (res.ok) {
        document.getElementById('error').textContent = "";
        document.getElementById('notice').textContent = "password reset link is send to your email";
      } else {
        document.getElementById('error').textContent = 'error';
        document.getElementById('notice').textContent = "";
      }
    }
  </script>
</body>
</html>