# PostgreSQL (used by Docker)
# PostgreSQL (used by Docker)

DB=
DB_USER=
DB_PASSWORD=

# Django (used by Django in knowwatt/settings.py)
## This should match the above PostgresSQL above
DB_HOST=db
DB_PORT=5432

# Django
SECRET_KEY="django-insecure-^jam_4*=9)^=$9rw)fd+18&57mndc7=rlecmpf28c#yqwxky9t"
DEBUG=True

# MQTT
MQTT_HOST=
MQTT_PORT=8883
MQTT_USER=
MQTT_PASS=
MQTT_USE_TLS=true