# PostgreSQL (used by Docker)

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Django (used by Django in knowwatt/settings.py)
## This should match the above PostgresSQL above
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432

# Django
SECRET_KEY="django-insecure-^jam_4*=9)^=$9rw)fd+18&57mndc7=rlecmpf28c#yqwxky9t"
DEBUG=True